@import "tailwindcss";

@theme {
  --color-primary: #76F5BC;
  --color-secondary: #0308a3;
  --color-secondary-300: #2b6ce4;
  --color-secondary-400: #0066ff;

  --color-third: #3D3D45;
  --color-third-200: #404148;
  --color-third-800: #03040cd1;
  --color-background: #3D3D45;
  --color-foreground: #ffffff;
  
  --color-black-100: #ffffff47;
  --color-black-200: #76f5bc24;
  --color-black-300: #ffffff0d;
  --color-black-700: #060818d1;
  --color-black-800: #0000008a;



  /* letter spacing  */
   --tracking-3: 0.08em;
}